[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
django-admin-interface = "*"
django-phonenumber-field = {extras = ["phonenumbers"], version = "*"}
nltk = "*"
pytz = "*"
icalendar = "*"
pytest = "*"
djangorestframework = "*"
pyyaml = "*"
pytest-django = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.13"
