{% extends "base.html" %}
{% block content %}
<a href="{% url 'home' %}" class="btn btn-outline-info btn-sm mb-3 d-block mx-auto" style="width: fit-content;">
    <i class="bi bi-house-door"></i> Homepage
</a>
<br>
<h2>Register!</h2>
{% if message %}
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <div style="color: white; font-size: 1.15rem;">{{ message }}</div>
    </div>
{% endif %}
<div class="container">
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <fieldset data-bs-theme="light">
            <div>
                <label class="form-label mt-4">Username</label>
                <input id="color" autofocus type="text" class="form-control" aria-describedby="username" name="username" placeholder="Enter username">
            </div>
            <div>
                <label class="form-label mt-4">Email address</label>
                <input id="color" type="email" class="form-control" aria-describedby="email" name="email" placeholder="Enter email">
                <small class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div>
                <label class="form-label mt-4">Password</label>
                <input id="color" name="password" type="password" class="form-control" placeholder="Enter password" autocomplete="off">
            </div>
            <div>
                <label class="form-label mt-4">Confirm Password</label>
                <input id="color" name="confirmation" type="password" class="form-control" placeholder="Confirm Password" autocomplete="off">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Register</button>
        </fieldset>
    </form>
</div>
<br>
<p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
{% endblock %}